.login {
    &-page {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-form-container {
        max-width: 800px;
        padding: 2em 1em;        
    }
}